*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}

/* Center tables for demo */
table {
  margin: 0 auto;
}

/* Default Table Style */
table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-spacing: 0;
  border-radius: 8px;
}
table thead th,
table tfoot th {
  color: rgb(0, 0, 0);
  background: #f4f7f8;

}
table caption {
  padding:.5em;
}
table th {
  padding: .5em;
  border: 1px solid lightgrey;
}

table td {
  padding: .5em;
  border: 1px solid lightgrey;
}

table.rounded-corners {
  /* Change these properties */
  --border: 1px solid lightgrey;
  border-radius: 10px;
 
  /* Don't change these properties */
  border-spacing: 0;
  border-collapse: separate;
  border: var(--border);
  overflow: hidden;
 }
 
 /* Apply a border to the right of all but the last column */
 table.rounded-corners th:not(:last-child),
 table.rounded-corners td:not(:last-child) {
  border-right: var(--border);
 }
 
 /* Apply a border to the bottom of all but the last row */
 table.rounded-corners>thead>tr:not(:last-child)>th,
 table.rounded-corners>thead>tr:not(:last-child)>td,
 table.rounded-corners>tbody>tr:not(:last-child)>th,
 table.rounded-corners>tbody>tr:not(:last-child)>td,
 table.rounded-corners>tfoot>tr:not(:last-child)>th,
 table.rounded-corners>tfoot>tr:not(:last-child)>td,
 table.rounded-corners>tr:not(:last-child)>td,
 table.rounded-corners>tr:not(:last-child)>th,
 table.rounded-corners>thead:not(:last-child),
 table.rounded-corners>tbody:not(:last-child),
 table.rounded-corners>tfoot:not(:last-child) {
  border-bottom: var(--border);
 }